body{
  margin: 0;
  max-width: 1440px;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
}
.top-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
}
.navigations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  color:  hsl(233, 8%, 62%);
  font-size: 15px;
}
.navigations div {
  padding: 10px 20px;
  cursor: pointer;
  transition: border-bottom 0.15s ease-in-out;
}

.navigations div:hover{
  border-bottom: solid 4.5px hsl(136, 65%, 51%);
}
.navigations div:active{
  color: black;
}

button{
  background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 40px;
  padding: 10px 25px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
button:active{
  opacity: 0.7;
}
.sect-1{
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  background-color:hsl(0, 0%, 98%);
  overflow: hidden;
  align-items: center;
}
.sect-text{
  width: 450px;
  padding-left: 120px;
  padding-bottom: 100px;
}
.text-head{
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 10px;
}
.text{
  color: hsl(233, 8%, 62%);
  margin: 30px 0px 30px 0px;
  line-height: 28px;
  font-size: 15px;
}
.mockups{
  margin-top: -100px;
  margin-right: -100px;
  width: 600px;
}
.mockups-img{
  width: 100%;
 background-image: url('images/bg-intro-desktop.svg');
 background-size: cover;
}


.sect-2{
  background-color: hsl(220, 16%, 96%);
  padding: 100px 100px 0px 120px;
  margin-top: -120px;
}
.easybank{
  width: 650px;
  margin-top: -40px;
}
.simple{
  width: 243px;
}
.easy-sect{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.simple p{
  font-size: 15px;
  color:  hsl(233, 8%, 62%);
}
.easy{
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}
.easy-text{
  font-size: 15px;
  color:  hsl(233, 8%, 62%);
  line-height: 25px;
  margin-top: 10px;
}
.simple img{
  width: 60px;
  margin-bottom: 35px;
}